@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Raleway', sans-serif;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
  border-bottom: 1px solid black;
}

section:last-child{
  border-bottom: none;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-repeat: repeat;
  background-image: url('img/bg.png');
  background-position: fixed;
  color: whitesmoke;
}

header section {
  margin: 0 auto;
  width: 840px;
}

header img {
  width: 150px;
  border-radius: 50%;
}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}

.course {
  display: flex;
  margin-bottom: 20px;
}

.course .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #428cc9;
  flex: 0 0 33.3%;
  max-width: 33.3%;
}

.course .description {
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.course .descrition p {
  padding-left: 1em;
  margin: 0;
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
